* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 32, 36);
    background-color: rgb(197, 82, 47);
}

.container {
    width: 600px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248, 245, 242);
    line-height:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 28px 0 rgba(0, 0, 0, 0.5);
  }

#newJoke {
    width: 70%;
    background-color: rgb(18, 82, 29);
    color: rgb(228, 228, 228);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.displayJoke {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(25, 90, 133);
}

.chuckText {
    color: rgb(192, 109, 31);
}